[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "systemPipeShiny"]
	path = systemPipeShiny
	url = https://github.com/systempiper/systempipeshiny
